/* Navbar Container */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Position navbar fixed on screen */
    margin-top: -470px;
    height: 100vh; /* Full screen height */
    padding: 20px 0;
    width: 100%; /* Adjust width as needed */
    z-index: 9999; /* Ensure the navbar is on top of all components */
}

/* Logo */
.logo {
    margin-bottom: 30px;
}
.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}

/* Navigation Items */
.nav-items {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Increased gap between icons */
    align-items: center;
}

/* Nav Item */
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

/* Icon Styling */
.icon {
  
    font-size: 24px;
    color: rgb(255, 255, 255); /* Default white color */
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Text Styling (Hidden Initially) */
.text {
    position: absolute;
    left: 50px; /* Initially hidden */
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    transform: translateX(-20px); /* Slight hidden offset */
    transition: all 0.3s ease;
}

/* Hover Effect */
.nav-item:hover .icon,
.nav-item:hover .text {
    color: #00ffbf; /* Neon greenish-blue */
    text-shadow: 
        0 0 5px #1cdee1,
        0 0 10px #00ffbf,
        0 0 20px #00ffbf,
        0 0 40px #00ffbf; /* Neon glow */
    
}


.nav-item:hover .text {
    opacity: 1;
    transform: translateX(0); /* Slide into view */
    left: 60px; /* Move to the right of the icon */
}
